.vscode/**
.vscode-test/**
test/**
webview/src/**
webview/node_modules/**
webview/public/**
webview/*.config.*
webview/package-lock.json
webview/eslint.config.js
webview/.gitignore
webview/README.md
.gitignore
.env
*.vsix
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
node_modules/@types/**
